
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
  body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: grey;
  }  

  /* logo and navigation */
   h1, h2 {
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: blue;
   }

   #logo {
    float: left;
   }

   #menu {
    font-size: 110%;
    letter-spacing: 1px;
   }
   #menu li {
    font-family: lora, sans-serif;
    float: right;
    list-style-type: none;
    margin-right: 25px;
   }

   #menu a {
    text-decoration: none;
    color: blue;

   }

   #menu, #logo {
    line-height: 50px;
   }

   #menu a:hover {
    border-bottom: 1px solid black;
   }
   .active{
    border-bottom: 2px solid black;
   }

   #hero-image {
    height:400px;
    width: 100%;
    background: url("../images/african-presidents.jpeg") no-repeat center center;

   }

   #hero-section{
    height: 400px;
    width: 100%;
    overflow: hidden;
   }

   /* famous presidents */

   #famous-presidents {
    height: 400px;
   }
   #left-fame {
    padding-top: 30px;
    width: 33%;
    float: left;
   }

   #right-fame {
    padding-top: 30px;
    width: 33%;
    float: right;
   }

   #african-map {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
   }
   