
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital,wght@1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}
  body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: grey;
  }  

  /* logo and navigation */
   h1, h2 {
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: blue;
   }
   h2{
    text-align: center;
   }

   #logo {
    float: left;
    margin-left: 30px;
   }

   #menu {
    font-size: 110%;
    letter-spacing: 1px;
   }
   #menu li {
    font-family: lora, sans-serif;
    float: right;
    list-style-type: none;
    margin-right: 25px;
   }

   #menu a {
    text-decoration: none;
    color: blue;

   }

   #menu, #logo {
    line-height: 50px;
   }

   #menu a:hover {
    border-bottom: 1px solid black;
   }
   .active{
    border-bottom: 2px solid black;
   }

   #hero-image {
    height:400px;
    width: 100%;
    background: url("../images/african-presidents.jpeg") no-repeat center center;

   }

   #hero-section{
    height: 400px;
    width: 100%;
    overflow: hidden;
   }

   /* famous presidents */

   #famous-presidents {
    height: 400px;
   }
   #left-fame {
    padding-top: 30px;
    width: 33%;
    float: left;

   }

   #right-fame {
    padding-top: 30px;
    width: 33%;
    float: right;
   }

   #african-map {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
   }

   #map-container {
    height: 350px;
    width: 350px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 90px;
    margin-bottom: 70px; 
   }
   img {
    height: 300px;
    
   }

   hr{
    border-top: 1px solid blue;
   }
   h3{
    color: black;
    margin-bottom:2px;
    margin-top: 25px;
    margin-left: 5px;
   }

   /* fame categories */
   

   #fame-categories > div{
    height: 300px;
    width: 100%;
    float: left;
    width: 25%;
    border: 2px solid white;
    box-sizing: border-box;
  

   }

   .wealth{
    height: 250px;
    width: 100%;
    padding-left: 30px;
    background: url("../images/wealth.jpg");
   }
   .reign{
    height: 250px;
    width: 100%;
    padding-left: 30px;
    background: url("../images/reign.jpg");
   }
   .achievements{
    height: 250px;
    width: 100%;
    padding-left: 30px;
    background: url("../images/achievements.jpg");
   }
   .education{
    height: 250px;
    width: 100%;
    padding-left: 30px;
    background: url("../images/education.png");
   }
   